doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
  body
      .container.text-center
        h1.display-4 Vitalii Ileiko and Roman Makarenko
          br
          | Laboratory work - Contacts app
        p 3 - V course AKIT
        
        br
        br
        a.btn.btn-outline-primary.btn-lg(href='/login' role='button') Sign in page
