header
  .navbar.navbar-dark.bg-dark.box-shadow.noPrint
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center(href='#')
        strong Contacts app 
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-light(href='/contacts') Contacts
      a.btn.btn-danger(href='/logout') Sign out
